<<<<<<< HEAD
body{
    background-color: rgb(196, 229, 255);
}
#email{
    width: 290px;
    margin-top: 3px;
}
#email-{
    width: 290px;
    margin-top: 3px;
}
#password{
    width: 290px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght,GRAD@0,8..144,100..900,44;1,8..144,100..900,44&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
@font-face {
    font-family: Horor;
    src: url(./..//Storm\ Gust.ttf);
} */


/* .box {
    width: 200px;
    height: 200px;
    /*border: 2px solid black;
    border-width: 10px;
    border-style: solid;
    border-color: black;  
    text-align: center;
    line-height: 200px;
    /* border-bottom: 1px solid black;
    border-top: 2px dashed black;
    border-right: 3px dotted black;
    border-left: 4px ridge black;
    border-radius: 100%; 
    outline: 30px solid black;
}*/

/* 
.box{
    font-size: 30px;
    font-weight: 100;
    font-style: oblique;
    text-decoration: double;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px red, 2px 2px 4px blue, 4px 4px 4px green;
    text-indent: 20px;
    font-family: "Horor";
}
.a{
    text-decoration-color: red;
    text-decoration-thickness: 5px;
} */
/* *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



.box{
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 16px 24px;
    border-radius: 50px;
    margin: 100px 200px;
}


.box:hover{
    background-color: red;
    cursor: pointer;
}
.box:active{
    background-color: violet;
}
input::placeholder{
    color: green;
}
/* * {
    padding: 0;
    margin: 0;
}   use this to remove html border and margin*/
>>>>>>> 5c4548f85567f4109d0285a867f05849b9c93b43 */
